body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: aliceblue;
}

img {
  width: 500px;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.imgDiv {
  display: inline-block;
  width: 600px;
  height: 200px;
  padding-bottom: 60px;
}
