.root{
    padding: 20px;
}

.trigger{
    color: rgb(214, 201, 247);  
    font-size: 18px;
    width: 250px;
    background-color: #3f2372;
    border: none;
    border-radius: 6px;
}

.content{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.item {
    padding: 5px 10px;
    border-radius: 6px;
}

.item:focus {
    background-color: gainsboro;
}