.titleDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.title {
  color: rgb(214, 201, 247);
  text-align: center;
  margin-right: 10px;
}

.titleTeaGif {
  width: 50px;
  height: 50px;
}
