.mainContainer {
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.title {
  color: rgb(214, 201, 247);
}
