.mainContainer {
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.contentContainer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.titleDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.title {
  color: rgb(214, 201, 247);
  text-align: center;
  margin-right: 10px;
}

.titleTeaGif {
  width: 50px;
  height: 50px;
}