.dropDownDiv {
    padding: 20px;
}

.mainContainers {
  margin: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.paddingContainer{
  padding-right: 5%;
  padding-left: 5%;
}


.mainLinkContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.linkContainers {
  padding: 20px;
  align-items: center;
}

.img {
  width: 240px;
  height: 160px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.clusterImg {
  width: 225px;
  height: 225px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.texts {
  color: rgb(214, 201, 247);
  word-wrap: break-word;
}

.pTextContainer{
  width: 20%;
  height: 5%;
  text-align: justify;
}
