.dropDownDiv {
    padding: 20px;
}

.mainLinkContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.linkContainers {
  padding: 20px;
  align-items: center;
}

.img {
  width: 240px;
  height: 160px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.texts {
  color: rgb(214, 201, 247);
}